:root {
    --uiFont: 'Lato', sans-serif;
    --txtFont: 'Noto Sans', sans-serif;
    --InputTxtSize: 14px;
    --borderColor: #e7e5e4;
    --PostBgColor: #1e3a8a;
    --userBg: #f5f5f5;
}


* {
    font-family: var(--uiFont);
    margin: 0;
    padding: 0;
}

#App {
    padding: 1rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 9997;
    justify-content: center;
    align-items: center;
    display: flex;
}



.signUpForm > input {
    border: 2.5px solid black;
    border-radius: 7px;
    font-size: var(--InputTxtSize);
    padding:7px;
    
}

.appTitle {
    font-family: var(--uiFont);
}

.resultModal {
    border: 2px solid black;
    border-radius: 8px;
    padding: 2rem;
    z-index: 9998;
    background-color: white;
}

.homeDiv, .signUpForm, .resultModal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap:5px;
}

.signUpForm {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 2rem;
    border-radius: 8px;
    background-color: wheat;
}

.submitBtn {
    padding: 5px;
    border: 0px;
    margin-top: 1rem;
    color: black;
    background-color: inherit;
    text-decoration: underline;
    font-size: 18px;
}

.submitBtn:hover {
    cursor: pointer;
    color: blue;
}

.dashboard-cont {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.postMsgForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.postMsgTxtarea {
    resize: none;
    min-height: 5rem;
    padding: 5px;
    border: 2px solid var(--borderColor);
}

.buttonsBar {
    display: flex;
    gap: 5px;
}

.post-container {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--borderColor);
}

.post-container > :nth-child(1) {
    padding: 5px;
}

.postDate {
    background-color: var(--PostBgColor);
    color: white;
    display: flex;
    justify-content: space-between;
}

.post-outer-cont {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post-user-cont {
    border-right: 2px solid var(--borderColor);
    color:var(--PostBgColor);
    background-color: var(--userBg);
}

.delete-btn {
    padding: 5px;
}